body {
   margin: 16px;
   font: sans-serif;
   text-align: center;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 8px;
}

.logo {
    display: flex;
    padding: 8px;
    color: rgba(248, 248, 130, 0.647);
}

ul {
    display: flex;
    margin: 32px;
    padding: 8px;
    gap: 20px;
    list-style-type: none;   
}

a {
    text-decoration: none;
    color: rgba(248, 248, 130, 0.647);
}

.main {
    margin: 0px;
    display: flex;
    background-color: #1F2937;
    }

.main.left {
    border: 800px;
}

.welcome {
    color:rgba(248, 248, 130, 0.647);
    display: flex;
    padding: 32px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

img {
    width: 300px;
    padding: 16px;
    margin: 0;
}

.title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 16px;
}

.container {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.sources {
    max-width: 200px;
}

.container img{
   height: 90px;
   width: auto; 
}